@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
